@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 30px;
}

.container {
  width: 100%;
}
.ordenar-ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordenar-ico1 {
  display: flex;
  align-items: center;
}
.icono {
  width: 24px;
  height: 24px;
}
.icono1 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.espacio {
  margin-right: 10px;
}

.accordion {
  font-family: "Kufam";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #489ff5;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  letter-spacing: 1px;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  border-color: #008989;
  border-style: solid;
}

.panel {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.panel p {
  padding: 20px 0 20px 0;
}
.panel1 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel1 p {
  padding: 0;
  margin-left: 20px;
}
.active .panel1 {
  height: 300px;
}
.boton1 {
  height: 30px;
  width: 100px;
  background-color: #489ff5;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.boton2 {
  height: 30px;
  width: 80px;
  background-color: #489ff5;
  color: white;
  border-style: none;
  border-radius: 5px;
}
.order {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.active .panel {
  padding: 20px 18px;
}

.dividir {
  display: flex;
  justify-content: left;
}
.izquierda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centrar {
  margin-left: 10%;
  margin-right: 10%;
}
.derecha {
  width: 50%;
}
.tamaño-imagen {
  width: 100%;
  height: 100%;
}

.centrar1 {
  margin-left: 10%;
  margin-right: 10%;
}
