@import url("https://fonts.googleapis.com/css2?family=Kufam:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  color: #2b5f93;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin-top: 70px;
}

.container {
  width: 100%;
}
.ordenar-ico {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ordenar-ico1 {
  display: flex;
  align-items: center;
}
.icono {
  width: 24px;
  height: 24px;
}
.icono1 {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.espacio {
  margin-right: 10px;
}

.accordion {
  font-family: "Kufam";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #489ff5;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  letter-spacing: 1px;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  border-color: #008989;
  border-style: solid;
}

.panel {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.panel p {
  padding: 20px 0 20px 0;
}
.panel1 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.panel1 p {
  padding: 0;
  margin-left: 20px;
}
.active .panel1 {
  height: 300px;
}
.boton1 {
  height: 30px;
  width: 100px;
  background-color: #489ff5;
  color: white;
  border-style: none;
  border-radius: 5px;
}

.boton2 {
  height: 30px;
  width: 80px;
  background-color: #489ff5;
  color: white;
  border-style: none;
  border-radius: 5px;
}
.order {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.active .panel {
  padding: 20px 18px;
}

.dividir {
  display: flex;
  justify-content: left;
}
.izquierda {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.centrar {
  margin-left: 10%;
  margin-right: 10%;
}
.derecha {
  width: 50%;
}
.tamaño-imagen {
  width: 100%;
  height: 100%;
}

.centrar1 {
  margin-left: 10%;
  margin-right: 10%;
}

.card {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card div {
  margin: 40px;
}
.card div h3 {
  font-size: x-large;
}
.card div p {
  margin-top: 10px;
  font-size: large;
}
.benefits {
  width: 45%;
  height: 150px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  position: relative;
}
.benefits h2 {
  font-size: xx-large;
}
.benefits p {
  font-size: large;
}
.contar1 {
  position: relative;
  height: 200px;
}
.cortar2 {
  position: relative;
  height: 450px;
  background-color: #2b5f93;
  width: 100%;
}

.tamaño-imagen1 {
  position: absolute;
  width: 400px;
  height: 540px;
  margin-top: -2.2rem;
}
.agrandar1 {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tam1 {
  height: 470px;
  margin-top: 100px;
}

.contardiv1 {
  position: relative;
  height: 30%;
}
.cortardiv2 {
  position: relative;
  height: 67%;
  background-color: #2b5f93;
  width: 100%;
}

.tamaño-imagen2 {
  position: absolute;
  width: 420px;
  height: 560px;
  margin-top: -5.7rem;
  padding-right: 25px;
}
.flex-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ordenar-ico2 {
  display: flex;
  align-items: center;
}
.espacio1 {
  margin-right: 20px;
}

.boton3 {
  height: 40px;
  width: 100%;
  border-style: none;
  border-radius: 5px;
}

.boton3:hover {
  background-color: #489ff5;
  color: white;
  border-color: blue;
  border-style: solid;
}

.ordenar2 {
  display: flex;
}

.tam-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  font-size: larger;
}
.tam-card h4 {
  font-size: x-large;
}
.quitar {
  padding: 20px;
  width: 100%;
}
.prueba2 {
  margin-right: 80px;
}
